In [2]:
import pandas as pd
import re

In [ ]:
section =dict(
    research = [
        "Blogging-Anecdotes-of-Oyasama",
        "life-of-the-honseki-izo-iburi"],
    scripture = [
        "mikagura-uta-the-songs-for-the-service",
        "ofudesaki-tip-of-the-writing-brush"],
    Tenrikyo101 = [
        "the-eight-dusts-of-the-mind",
        "the-nine-instruments-of-the-body",
        "the-ten-aspects-of-the-cosmic-providence-list"],
    translations = [
        "anecdotes-of-the-honseki",
        "cornerstone",
        "essays-on-truth-of-origin",
        "footsteps-of-our-predecessors",
        "tenrikyo-apocrypha",
        "tenrikyo-fundamentals"]
        )
print("*"*5,'Header names',"*"*5)
cnt=0
for header in section.keys():
    for i in range(len(section[header])):
        print(cnt, section[header][i])
        cnt+=1

links = []
header = 'http://tenrikyology.com/'
for x in section.keys():
    for i in range(len(section[x])):
        links.append(header+x+'/'+section[x][i])
print('\n',"*"*5,'Parsed Links',"*"*5)
test = links[3]
print('\n test link: {}'.format(test))

'''
In cmd pmt:
scrapy shell http://tenrikyology.com/scripture/ofudesaki-tip-of-the-writing-brush
response.xpath('//div[@class="entry-content"]/ul/li/a/@href').extract()
'''

In [3]:
df = pd.read_csv('TenrikyologyContent.csv')

In [22]:
df.columns

Index(['cat', 'content', 'entry_date', 'tag', 'title'], dtype='object')

In [73]:
# Converting str to datetime
df.entry_date[0]

'<time class="entry-date" datetime="2016-01-20T00:00:50+00:00">January 20, 2016</time>'

In [74]:
for i in range(len(df)):
    df.entry_date[i] = re.findall('datetime="(.+)"', df.entry_date[i])[0]

df.entry_date = pd.to_datetime(df.entry_date)
df.entry_date[0]

Timestamp('2016-01-20 00:00:50+0000', tz='UTC')

In [10]:
options = [dict(label=i,value=i) for i in df[df.columns[0]].dropna().unique()]

In [11]:
df[[df.columns[0],df.columns[4]]]

,cat,title
0,NaN,NaN
1,Blogging Anecdotes of Oyasama,"Blogging Anecdotes of Oyasama, Introduction"
2,Blogging Anecdotes of Oyasama,Blogging Anecdotes of Oyasama 33
3,Blogging Anecdotes of Oyasama,Blogging Anecdotes of Oyasama 32
4,Blogging Anecdotes of Oyasama,Blogging Anecdotes of Oyasama 31
...,...,...
429,Blogging Anecdotes of Oyasama,Blogging Anecdotes of Oyasama 3 (part two: Ins...
430,Blogging Anecdotes of Oyasama,Blogging Anecdotes of Oyasama 3 (part one)
431,Blogging Anecdotes of Oyasama,Blogging Anecdotes of Oyasama 2
432,Blogging Anecdotes of Oyasama,Blogging Anecdotes of Oyasama 1
433,Blogging Anecdotes of Oyasama,Blogging Anecdotes of Oyasama 15

In [4]:
def filter_dropdown(dropdown_value):
    return df.loc[ df[df.columns[0]] == dropdown_value, df.columns[4] ].dropna().unique()

In [5]:
lst_titles_blogging = filter_dropdown(df[df.columns[0]][1])

In [8]:
def display_content(cat, title):
    return df.loc[ (df[df.columns[0]]==cat) & (df[df.columns[4]]==title) ]

In [9]:
display_content('Blogging Anecdotes of OyasamaBlogging Anecdotes of Oyasama','Blogging Anecdotes of Oyasama 33Blogging Anecdotes of Oyasama 33')

Empty DataFrame
Columns: [cat, content, entry_date, tag, title]
Index: []